@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {box-sizing: border-box;}

.row::after {content: ""; clear: both; display: table;}

[class*="col-"] {float: left;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*--------------main------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  
  body {
    margin: 0;
    height: 100%;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    background-color: #F7F7F7;
    color: #011D2D;
    padding: 15px;
    background-image: url(img/fondo3.png);
  background-repeat: repeat;
 
 
    
    }
  
  .container-flow {
    min-height: 100%; }
  
  main {
    padding-top: 80px;
    padding-bottom: 80px; }
  

   

    /* Títulos  */

    h1 {
      font-size: 2.5rem;
      text-transform: uppercase;
      letter-spacing: 2pt;
      font-weight: bold;
      text-align: right;
      color: #12344d;
      
    
    }




h3 {

  font-size: 1rem;

  letter-spacing: 2pt;
  font-weight: bold;
}

    span {

     color: #09C3F1;
      
      font-weight: bold;
    }

  

  /* Menú */


  #menuResponsive {
    visibility: hidden;
    display: none;
  }

header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F7F7F7;
  height: 25vh;
}

header img {
  max-width: 400px;
  height: auto;
}

nav#navbar {
  font-size: 0.8rem;
  font-family: 'Inter', sans-serif;
  background: #06517B;
  top: 0;
  position: relative;
  width: 100%;
  transition: all 0.5s linear;
  z-index: 1;
  
}
ul.menu-list {
  display: flex;
  list-style: none;
 
}
ul.menu-list li {
  display: flex;
  flex: 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px ;
}
ul.menu-list li.logo {
  max-width: 0;
  overflow: hidden;
  transition: all 0.5s linear;
}


ul.menu-list li.logo > a {
  color:#011D2D;
}

i {
  padding: 15px 30px 15px 30px;
  color: #F7F7F7;
  
}

ul.menu-list li > a {
  text-decoration: unset;
  display: flex;
  color: #fff;
  transition: 0.2s linar;
  text-transform: uppercase;
  letter-spacing: 2pt;
  padding-top: 10px
  
}
body.fixed-nav nav#navbar {
  position: fixed;
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
}
body.fixed-nav li.logo {
  max-width: 100%;
}

/* Inicio */

.elemento {
  background-image: url(img/elemento0.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80%;
}

#inicio {

  padding-top: 30px;
 
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  

 
}


#inicio img {
  max-width: 100%;
  height: auto;
 padding: 20%;
  
}


#inicio p{

  font-size: 1.3rem;
  line-height: 33pt;
  text-align: right;
  padding-bottom: 20px;
  
  
}


#inicio h2 {
  text-align: right;
  font-weight: bold;
  line-height: 33pt;
    letter-spacing: 1pt;
    padding: 18px;
    
    font-size: 1.5rem;
}

#inicio_2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  

}

#inicio_2 h2 {
  text-align: left;
  font-weight: bold;
  line-height: 33pt;
    letter-spacing: 2.5pt;
text-transform: uppercase;
    font-size: 1.8rem;
    color: #011D2D;
}

#inicio_2 p {
text-align: left;
font-size: 1.3rem;
line-height: 33pt;


}


#inicio_2 img {

  width: 300px;
  height: auto;

  
}


button {
 
  background-color: #011D2D;
  color: #F7F7F7;
	border: none;
	padding: 20px;
  letter-spacing: 2pt;
  font-size: 0.8rem;
text-align: right;
  text-transform: uppercase;
  border-radius: 8px;
	cursor: pointer;
	outline: inherit;
 

}


button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.beneficios {
  text-align: center;
padding: 20px;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 2pt;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.beneficios p{
  text-transform: uppercase;
  padding: 10px;
}
.beneficios img {

  max-width: 200px;
  height: auto;
  padding: 20px;
  
}

.beneficios img:hover {

  opacity: 0.3;
 
}

.dedo p {

  padding: 17px;
}

.beneficios h3 {
  text-align: center;
  font-size: 1rem;
  line-height: 20px;
text-transform: uppercase;
padding: 15px;

}



.beneficios h2 {

  text-align: center;
    font-size: 2 rem;
    padding: 20px;
    color: #011D2D;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 12pt;
}


#preguntas {
 
  background-image: url(img/jj.png);
  background-repeat: no-repeat;
  background-position:  center;
  background-size: 80%;
  font-size: 1.1rem;
 
}

.bloque_1 {
padding: 30px;
text-align: center;

}

.espacio {
  padding-top: 25px;
  padding-bottom: 35px;
}

#preguntas h2 {
  
    text-align: center;
    font-size: 2 rem;
    padding: 20px;
    color: #011D2D;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 12pt;
  }

/* Contacto */

#contacto {

padding: 30px;
text-align: center;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);


}

#contacto h2 {
  
    text-align: center;
    font-size: 1.5rem;
  padding: 20px;
    
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2pt;
  }


.bloque_2 {

  background-color: #F7F7F7;
}

input,label,textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  padding: 10px;
  font-size: 1rem;

}


input[type=text], select 
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 	
 outline: none;
}

textarea {
	 width: 100%;
	 height: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 	

 color: #12344d; 
 outline: none;
}

.enviar {
  width: 100%;
  background-color: #044b73;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  letter-spacing: 3pt;

}

.enviar:hover {

  background-color: #011D2D;
  color: #F7F7F7;
}

input[type=text]:focus, textarea:focus {
  border: 2px solid #011D2D;
}


#validacion {

  text-align: center;
  font-weight: italic;
  font-size: 0.8rem;
  padding-top: 15px;
}
/* footer */


#footer {
  bottom: 0;
  width: 100%;
  background-color: #06517B;
  padding: 30px;
  overflow: hidden;
  height: 400px;
 
  font-size: 0.8rem;
  color: white;
  text-align: right;
  

 }

#footer h2 {
padding: 10px;
text-align: right;
font-size: 1rem;
font-weight: bold;
letter-spacing: 2pt;
line-height: 20px;

}


@media only screen and (max-width: 768px) {
    
#navbar {
  visibility: none;
  display: none;
}



/* Inicio */

#inicio {

  padding-top: 25px;
 padding-bottom: 60px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url(img/elemento0.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 900px;
  

 
}


#menuResponsive {
  visibility: visible;
  display: flex;
  width: 100%;
  position: sticky;
  

}

#menuItems a {
  
  text-align: center;
  background-color: #06517B;
  color: #F7F7F7;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 15px;
  
}

header {
  visibility: none;
  display: none;
}


#inicio img {
  max-width: 100%;
  height: auto;

}


#inicio p{

  font-size: 1.5rem;
  line-height: 30pt;
  text-align: center;
  padding: 20px;
  
}

#inicio h1 {
  text-align: center;
}

#inicio h2 {
  text-align: center;
  font-weight: bold;
  line-height: 33pt;
    letter-spacing: 1pt;
    padding: 15px;
    font-size: 1.8rem;
}


#inicio_2 img {
display: none;
visibility: none;
}

#inicio_2 p {
text-align: center;
font-size: 1.5rem;
line-height: 30pt;
padding: 20px;

  }
  #inicio_2 h2 {
    text-align: center;
    font-weight: bold;
    line-height: 33pt;
      letter-spacing: 2.5pt;
  text-transform: uppercase;
      font-size: 1.8rem;
      color: #011D2D;
  }

.boton {
  padding: 20px;
  background-color: #011D2D;
  color: #F7F7F7;
  text-transform: uppercase;
  letter-spacing: 2pt;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 8px;
 

}


.beneficios {
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 2pt;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.beneficios img {

  max-width: 180px;
  height: auto;
  padding: 10px;
}


.beneficios h2 {

  text-align: center;
    font-size: 2rem;
    padding: 20px;
    color: #011D2D;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 8pt;
}

.beneficios p {

  text-align: center;
    font-size: 1rem;
    padding: 20px;
    color: #011D2D;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2pt;
}


.beneficios h3{

  text-align: center;
    font-size: 1.2rem;
    padding: 20px;
    color: #011D2D;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2pt;
    line-height: 28pt;
}


#preguntas {
 
  background-image: url(img/jj.png);
  background-repeat: no-repeat;
  background-position:  center;
  background-size: 600px;
  font-size: 1.3rem;
 
}

.bloque_1 {
padding: 30px;
text-align: center;

}

.espacio {
  padding-top: 15px;
  padding-bottom: 25px;
}

#preguntas h2 {
  
    text-align: center;
    font-size: 2rem;
    color: #011D2D;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 8pt;
    
  }
  #preguntas h3{
  
    text-align: center;
    font-size: 1.4rem;
    padding: 20px;
    color: #011D2D;
    font-weight: bold;
    
    
  }

  

}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  {

  #inicio {
    text-align: center;
  }
    #inicio img {
      width: 90%;
      height: auto;
text-align: center;
    
    }
    
    
    #inicio p{
    
      font-size: 1.5rem;
      line-height: 30pt;
      text-align: center;
      padding: 20px;
      
    }
    
    #inicio h1 {
      text-align: center;
      font-size: 1.7;
    }
    
    #inicio h2 {
      text-align: center;
      font-weight: bold;
      line-height: 33pt;
        letter-spacing: 1pt;
        padding: 15px;
        font-size: 1.9rem;
    }
    
    
    #inicio_2 img {
      display: none;
      visibility: none;
    }
    
    #inicio_2 p {
     font-size: 1.5rem;
    line-height: 38pt;
    text-align: center;
    padding: 20px;
    
      }
      #inicio_2 h2 {
        text-align: center;
        font-weight: bold;
        line-height: 33pt;
          letter-spacing: 1pt;
          padding: 15px;
          font-size: 1.9rem;
      }
    
    .boton {
      padding: 25px;
      background-color: #011D2D;
      color: #F7F7F7;
      text-transform: uppercase;
      letter-spacing: 2pt;
      font-size: 1rem;
      font-weight: bold;
      border-radius: 8px;
     
     
    
    }

    #inicio [class*="col-md-6"] {
      width: 100%;
    }
    #inicio_2 [class*="col-md-6"] {
      width: 100%;
    }
    
    .beneficios {
      text-align: center;
      text-transform: uppercase;
      padding: 20px;
      font-weight: bold;
      font-size: 0.8rem;
      letter-spacing: 2pt;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    
    
    .beneficios img {
    
      max-width: 180px;
      height: auto;
      padding: 10px;
    }
    
    
    .beneficios h2 {
    
      text-align: center;
        font-size: 2rem;
        padding: 20px;
        color: #011D2D;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 8pt;
    }
    
    .beneficios p {
    
      text-align: center;
        font-size: 1rem;
        padding: 20px;
        color: #011D2D;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2pt;
    }
    
    
    .beneficios h3{
    
      text-align: center;
        font-size: 1.2rem;
        padding: 20px;
        color: #011D2D;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2pt;
        line-height: 28pt;
    }

.beneficios [class*="col-md-3"] {
  width: 50%;
}
    
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  {

    #menuResponsive {
      visibility: visible;
      display: flex;
      width: 100%;
      text-align: center;
      position: sticky;
    

    }
    
   .navbar-brand {
     width: 50%;
   }
    #menuItems a {
      
      background-color: #06517B;
      color: #F7F7F7;
      font-size: 0.8rem;
      font-weight: bold;
      padding: 15px;
      
    }
    
    #inicio {
      text-align: center;
    }
      #inicio img {
        display: none;
        visibility: none;
      
      }
      
      
      #inicio p{
      
        font-size: 1rem;
        line-height: 22pt;
        text-align: center;
        padding: 20px;
        
      }
      
      #inicio h1 {
        text-align: center;
        font-size: 1.5rem;
      }
      
      #inicio h2 {
        text-align: center;
        font-weight: bold;
        line-height: 22pt;
          letter-spacing: 1pt;
          padding: 15px;
          font-size: 1.2rem;
      }
      
      
      #inicio_2  {
        display: none;
        visibility: none;
      }
      
      #inicio_2 p {
       font-size: 1rem;
      line-height: 22pt;
      text-align: center;
      padding: 20px;
     
      
        }
        #inicio_2 h2 {
          text-align: center;
          font-weight: bold;
          
            letter-spacing: 1pt;
            padding: 15px;
            font-size: 1.2rem;
        }


    .beneficios {
      text-align: center;
      text-transform: uppercase;
      padding: 25px;
      font-weight: bold;
      font-size: 0.8rem;
      letter-spacing: 2pt;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    
    
    .beneficios img {
    
      max-width: 150px;
      height: auto;
      
    }
    
    
    .beneficios h2 {
    
      text-align: center;
        font-size: 2rem;
        padding: 20px;
        color: #011D2D;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 8pt;
    }
    
    .beneficios p {
    
      text-align: center;
        font-size: 1rem;
        padding: 20px;
        color: #011D2D;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2pt;
    }
    
    
    .beneficios h3{
    
      text-align: center;
        font-size: 1rem;
        padding: 10px;
        color: #011D2D;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2pt;
        line-height: 20pt;
    }

    #preguntas {
 
      background-image: url(img/jj.png);
      background-repeat: no-repeat;
      background-position:  center;
      background-size: 600px;
      font-size: 1rem;
     
    }
    
    .bloque_1 {
    padding: 30px;
    text-align: center;
    
    }
    
    .espacio {
      padding-top: 15px;
      padding-bottom: 25;
    }
    
    #preguntas h2 {
      
        text-align: center;
        font-size: 2rem;
        color: #011D2D;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 6pt;
        line-height: 33pt;
        
      }
      #preguntas h3{
      
        text-align: center;
        font-size: 1.2rem;
        padding: 20px;
        color: #011D2D;
        font-weight: bold;
        
        
      }
    
      iframe {
        display: none;
        visibility: none;
      }
    
  }